{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "ios": "12",
            "safari": "12"
          },
          "useBuiltIns": "usage",
          "corejs": 3
        }
      }
    ]
  ]
}
